<div id="content" class="container">
  <ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><i class="fa fa-angle-right boxed-icon"></i><a href="#" class="breadcrumb-pill">Computers &amp; Tablets</a></li>
    <span class="hidden-md hidden-sm hidden-xs">
      <li><i class="fa fa-angle-right boxed-icon"></i><a href="#" class="breadcrumb-pill">Laptops</a></li>
      <li><i class="fa fa-angle-right boxed-icon"></i><a href="#" class="breadcrumb-pill">Apple</a></li>
      <li><i class="fa fa-angle-right boxed-icon"></i><a href="#" class="breadcrumb-pill">HP Intel Core 1TB HDD 4GB RAM 15"</a></li>
    </span>
  </ul>

  <div class="scWrapper">
    <div class="table-wrapper">
      <div class="table-header">
        <span>Product Details</span>
        <span>Price</span>
        <span>Quantity</span>
        <span>Total</span>
        <span></span>
      </div>
      <div class="cart">
        <div class="item-wrapper">
          <hr class="producthr">
          <div class="item-row">
            <div class="product-details">
              <img src="./../../../assets/image/cache/catalog/storefront/Layer_515.png" alt="">
              <span>Strong low bass head phone</span>
            </div>
            <div class="single-price">N23,000</div>
            <div class="quantity">
              <input id="input-quantity" type="text" name="quantity" value="2" size="2" id="input-quantity" class="form-control input-number pull-left format_form"
              />
              <input type="hidden" name="product_id" value="42" />
              <button type="button" class="form-control pull-left btn-number btnplus format_form" data-type="plus" data-field="quantity"
                style="background-color:#fdbd66">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
              <button type="button" class="form-control pull-left btn-number btnminus format_form" disabled="disabled" data-type="minus"
                data-field="quantity" style="background-color:#fdbd66">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
            </div>
            <div class="single-total">N9,000</div>
            <div class="close-x"><img src="./../../../assets/image/cache/catalog/storefront/close_icon.png" alt=""></div>
          </div>
        </div>
        <div class="item-wrapper">
          <hr class="producthr">
          <div class="item-row">
            <div class="product-details">
              <img src="./../../../assets/image/cache/catalog/storefront/Layer_516.png" alt="">
              <span>Strong low bass head phone</span>
            </div>
            <div class="single-price">N23,000</div>
            <div class="quantity">
              <input id="input-quantity" type="text" name="quantity" value="2" size="2" id="input-quantity" class="form-control input-number pull-left format_form"
              />
              <input type="hidden" name="product_id" value="42" />
              <button type="button" class="form-control pull-left btn-number btnplus format_form" data-type="plus" data-field="quantity"
                style="background-color:#fdbd66">
                          <span class="glyphicon glyphicon-plus"></span>
                      </button>
              <button type="button" class="form-control pull-left btn-number btnminus format_form" disabled="disabled" data-type="minus"
                data-field="quantity" style="background-color:#fdbd66">
                          <span class="glyphicon glyphicon-minus"></span>
                      </button>
            </div>
            <div class="single-total">N9,000</div>
            <div class="close-x"><img src="./../../../assets/image/cache/catalog/storefront/close_icon.png" alt=""></div>
          </div>
        </div>
        <div class="item-wrapper">
          <hr class="producthr">
          <div class="item-row">
            <div class="product-details">
              <img src="./../../../assets/image/cache/catalog/storefront/Layer_517.png" alt="">
              <span>Strong low bass head phone</span>
            </div>
            <div class="single-price">N23,000</div>
            <div class="quantity">
              <input id="input-quantity" type="text" name="quantity" value="2" size="2" id="input-quantity" class="form-control input-number pull-left format_form"
              />
              <input type="hidden" name="product_id" value="42" />
              <button type="button" class="form-control pull-left btn-number btnplus format_form" data-type="plus" data-field="quantity"
                style="background-color:#fdbd66">
                          <span class="glyphicon glyphicon-plus"></span>
                      </button>
              <button type="button" class="form-control pull-left btn-number btnminus format_form" disabled="disabled" data-type="minus"
                data-field="quantity" style="background-color:#fdbd66">
                          <span class="glyphicon glyphicon-minus"></span>
                      </button>
            </div>
            <div class="single-total">N9,000</div>
            <div class="close-x"><img src="./../../../assets/image/cache/catalog/storefront/close_icon.png" alt=""></div>
          </div>
        </div>
        <div class="item-wrapper">
          <hr class="producthr">
          <div class="item-row">
            <div class="product-details">
              <img src="./../../../assets/image/cache/catalog/storefront/Layer_518.png" alt="">
              <span>Strong low bass head phone</span>
            </div>
            <div class="single-price">N23,000</div>
            <div class="quantity">
              <input id="input-quantity" type="text" name="quantity" value="2" size="2" id="input-quantity" class="form-control input-number pull-left format_form"
              />
              <input type="hidden" name="product_id" value="42" />
              <button type="button" class="form-control pull-left btn-number btnplus format_form" data-type="plus" data-field="quantity"
                style="background-color:#fdbd66">
                          <span class="glyphicon glyphicon-plus"></span>
                      </button>
              <button type="button" class="form-control pull-left btn-number btnminus format_form" disabled="disabled" data-type="minus"
                data-field="quantity" style="background-color:#fdbd66">
                          <span class="glyphicon glyphicon-minus"></span>
                      </button>
            </div>
            <div class="single-total">N9,000</div>
            <div class="close-x"><img src="./../../../assets/image/cache/catalog/storefront/close_icon.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <p class="back-to-shop">Back to Shop</p>
      <div class="sidebar-container">
        <div class="sidebar-wrapper">
          <h3>Order Summary</h3>
          <div class="sidebar-top-borders">
            <div class="breakdown">
              <div class="subtotal">
                <div class="key">Subtotal</div>
                <div class="value">N200,999</div>
              </div>
              <div class="shipping">
                <div class="key">Shipping</div>
                <div class="value">Free Shipping</div>
              </div>
              <div class="vat">
                <div class="key">VAT</div>
                <div class="value">N999</div>
              </div>
            </div>
          </div>
          <div class="sidebar-top-borders">
            <div class="total">
              <div class="key">Total</div>
              <div class="value"><strong>N200,999</strong></div>
            </div>
            <div class="promo-code">
              <label class="myCheckbox">
                    <input type="checkbox" name="check" id="check"/> 
                    <span></span>
                    <label for="check" id="promo-code-msg" for="check">I have promo code </label>
              </label>
            </div>
            <button routerLink="/shop/checkout" class="milk_btn button_base">Proceed to Checkout</button>
          </div>
          <div class="sidebar-top-borders">
            <div class="return"><i class="fa fa-refresh"></i><span>30 Days for free return</span></div>
            <div class="return"><i class="fa fa-credit-card"></i><span>Secure Payment System</span></div>
            <div class="return"><i class="fa fa-headphones"></i><span>Call Us: 089 545 3535</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>