<div class="shipping-section">
  <div class="shipping-options">
    <div class="shipping-address active">
      <span class="city">Lekki</span>
      <span class="address">6 Admiralty Way, lekki, phase 1, lagos</span>
      <span class="phone">089 131 4234</span>
    </div>
    <div class="shipping-address inactive">
      <span class="city">Lekki</span>
      <span class="address">6 Admiralty Way, lekki, phase 1, lagos</span>
      <span class="phone">089 131 4234</span>
    </div>
  </div>
  <div class="add-new-option">
    <a href="#"><span>+ Add New</span></a>
  </div>
</div>