<div class="modal-wrapper animated zoomIn">
  <div class="close-btn">
    <img src="./../../assets/image/cache/catalog/storefront/close.png" alt="">
  </div>
  <div class="inner-wrapper">
    <div class="dialog card">
      <div class="dwrapper">
        <div class="img-lock"><img src="./../../assets/image/cache/catalog/storefront/password.png" alt=""></div>
        <div class="trans-pin"><span>Enter Transaction Pin</span></div>
        <div class="inputs">
          <input type="text" class="otp_slot">
          <input type="text" class="otp_slot">
          <input type="text" class="otp_slot">
          <input type="text" class="otp_slot">
          <input type="text" class="otp_slot">
        </div>
      </div>
      <div class="footer"><span>Verify Transaction Pin</span></div>
    </div>
  </div>
</div>