
        <div class="leftbanner hidden-xs">
            <div class=" beffect">
              <a href="#">
                <img src="assets/image/cache/catalog/leftbanner/282x460-282x460.jpg" alt="Left Banner" class="img-responsive" />
              </a>
            </div>
          </div>
          <div class="onsale">
            <h1 class="lefthead">On Sale</h1>
            <div id="onsale" class="owl-theme owl-carousel">
  
              <div class="multi-row">
                <div class="lproduct-layout col-xs-12">
                  <div class="product-thumb transition">
                    <div class="image col-xs-4"><a href="#"><img src="assets/image/cache/catalog/product/25-280x280.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive center-block" /></a>
                      <!-- Webiarch Images Start -->
                      <a href="#"><img src="assets/image/cache/catalog/product/26-280x280.jpg" class="img-responsive second-img" alt="hover image"/></a>
  
                      <!-- End -->
                    </div>
                    <div class="caption text-left col-xs-8">
                      <h4><a href="#">Apple Cinema 30&quot;</a></h4>
  
                      <div class="price">
                        <span class="price-new">$110.00</span> <span class="price-old">$122.00</span>
                      </div>
  
                      <div class="rating text-left"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      </div>

                    </div>
  
                  </div>
                </div>
  
                <div class="lproduct-layout col-xs-12">
                  <div class="product-thumb transition">
                    <div class="image col-xs-4"><a href="#"><img src="assets/image/cache/catalog/product/28-280x280.jpg" alt="HP LP3065" title="HP LP3065" class="img-responsive center-block" /></a>
                      <!-- Webiarch Images Start -->
                      <a href="#"><img src="assets/image/cache/catalog/product/29-280x280.jpg" class="img-responsive second-img" alt="hover image"/></a>
  
  
                      <!-- End -->
                    </div>
                    <div class="caption text-left col-xs-8">
                      <h4><a href="#">HP LP3065</a></h4>
  
                      <div class="price">
                        <span class="price-new">$62.00</span> <span class="price-old">$122.00</span>
                      </div>
  
                      <div class="rating text-left"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      </div>
  
                    </div>
  
  
  
                  </div>
                </div>
  
                <div class="lproduct-layout col-xs-12">
                  <div class="product-thumb transition">
                    <div class="image col-xs-4"><a href="#"><img src="assets/image/cache/catalog/product/27-280x280.jpg" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive center-block" /></a>
                      <!-- Webiarch Images Start -->
                      <a href="#"><img src="assets/image/cache/catalog/product/30-280x280.jpg" class="img-responsive second-img" alt="hover image"/></a>
  
  
                      <!-- End -->
                    </div>
                    <div class="caption text-left col-xs-8">
                      <h4><a href="#">HTC Touch HD</a></h4>
  
                      <div class="price">
                        <span class="price-new">$32.00</span> <span class="price-old">$122.00</span>
                      </div>
  
                      <div class="rating text-left"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      </div>
  
                    </div>
  
                  </div>
                </div>
  
                <div class="lproduct-layout col-xs-12">
                  <div class="product-thumb transition">
                    <div class="image col-xs-4"><a href="#"><img src="assets/image/cache/catalog/product/30-280x280.jpg" alt="iMac" title="iMac" class="img-responsive center-block" /></a>
                      <!-- Webiarch Images Start -->
                      <a href="#"><img src="assets/image/cache/catalog/product/27-280x280.jpg" class="img-responsive second-img" alt="hover image"/></a>
  
  
                      <!-- End -->
                    </div>
                    <div class="caption text-left col-xs-8">
                      <h4><a href="#">iMac</a></h4>
  
                      <div class="price">
                        <span class="price-new">$38.00</span> <span class="price-old">$122.00</span>
                      </div>
  
                      <div class="rating text-left"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      </div>
  
                    </div>
  
                  </div>
                </div>
              </div>
  
              <div class="multi-row">
                <div class="lproduct-layout col-xs-12">
                  <div class="product-thumb transition">
                    <div class="image col-xs-4"><a href="#"><img src="assets/image/cache/catalog/product/24-280x280.jpg" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive center-block" /></a>
                      <!-- Webiarch Images Start -->
                      <a href="#"><img src="assets/image/cache/catalog/product/15-280x280.jpg" class="img-responsive second-img" alt="hover image"/></a>
  
  
                      <!-- End -->
                    </div>
                    <div class="caption text-left col-xs-8">
                      <h4><a href="#">Canon EOS 5D</a></h4>
  
                      <div class="price">
                        <span class="price-new">$98.00</span> <span class="price-old">$122.00</span>
                      </div>
  
                      <div class="rating text-left"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      </div>
  
                    </div>
  
                  </div>
                </div>
  
                <div class="lproduct-layout col-xs-12">
                  <div class="product-thumb transition">
                    <div class="image col-xs-4"><a href="#"><img src="assets/image/cache/catalog/product/18-280x280.jpg" alt="MacBook Air" title="MacBook Air" class="img-responsive center-block" /></a>
                      <!-- Webiarch Images Start -->
                      <a href="#"><img src="assets/image/cache/catalog/product/8-280x280.jpg" class="img-responsive second-img" alt="hover image"/></a>
  
  
  
                      <!-- End -->
                    </div>
                    <div class="caption text-left col-xs-8">
                      <h4><a href="#">MacBook Air</a></h4>
  
                      <div class="price">
                        $1,202.00
                      </div>
  
                      <div class="rating text-left"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      </div>
  
                    </div>
  
                  </div>
                </div>
  
                <div class="lproduct-layout col-xs-12">
                  <div class="product-thumb transition">
                    <div class="image col-xs-4"><a href="#"><img src="assets/image/cache/catalog/product/17-280x280.jpg" alt="MacBook" title="MacBook" class="img-responsive center-block" /></a>
                      <!-- Webiarch Images Start -->
                      <a href="#"><img src="assets/image/cache/catalog/product/7-280x280.jpg" class="img-responsive second-img" alt="hover image"/></a>
  
                      <!-- End -->
                    </div>
                    <div class="caption text-left col-xs-8">
                      <h4><a href="#">MacBook</a></h4>
  
                      <div class="price">
                        $602.00
                      </div>
  
                      <div class="rating text-left"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      </div>
  
                    </div>

                  </div>
                </div>
  
                <div class="lproduct-layout col-xs-12">
                  <div class="product-thumb transition">
                    <div class="image col-xs-4"><a href="#"><img src="assets/image/cache/catalog/product/26-280x280.jpg" alt="MacBook Pro" title="MacBook Pro" class="img-responsive center-block" /></a>
                      <!-- Webiarch Images Start -->
                      <a href="#"><img src="assets/image/cache/catalog/product/25-280x280.jpg" class="img-responsive second-img" alt="hover image"/></a>
  
  
  
                      <!-- End -->
                    </div>
                    <div class="caption text-left col-xs-8">
                      <h4><a href="#">MacBook Pro</a></h4>
  
                      <div class="price">
                        $2,000.00
                      </div>
  
                      <div class="rating text-left"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Testimonials -->
          <div>
            <div class="testimonial">
              <div class="testim">
                <div id="testi" class="owl-carousel owl-theme">
                  <div class="item">
                    <div class="content_test">
                      <img class="img-responsive center-block" src="assets/image/catalog/parallex/quote.png">
                      <div class="des_testimonial  text-center">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
                      <hr>
                      <img class="img-responsive center-block pull-left" src="assets/image/catalog/parallex/1.png">
                      <h1>Mary</h1>
                      <h3>Customer</h3>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content_test">
                      <img class="img-responsive center-block" src="assets/image/catalog/parallex/quote.png">
                      <div class="des_testimonial  text-center">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
                      <hr>
                      <img class="img-responsive center-block pull-left" src="assets/image/catalog/parallex/2.png">
                      <h1>David</h1>
                      <h3>Customer</h3>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content_test">
                      <img class="img-responsive center-block" src="assets/image/catalog/parallex/quote.png">
                      <div class="des_testimonial  text-center">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
                      <hr>
                      <img class="img-responsive center-block pull-left" src="assets/image/catalog/parallex/3.png">
                      <h1>Sandra</h1>
                      <h3>Customer</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <!--/End Testimonials -->
          
          <!-- Just a side banner -->
          <div class="cbanner hidden-xs">
            <div class="beffect">
              <a href="#">
                <img src="assets/image/cache/catalog/centerbanner/282x370-282x370.jpg" alt="Centerbanner" class="img-responsive" />
            </a>
            </div>
          </div>
          <!--/End - Just a side banner -->
  
  
          <!-- New On Sale -->
  
  
          <!-- End - New On Sale -->
  
          <!-- Side bar Brands -->
          <div class="logo-slider">
            <h1 class="lefthead">brands</h1>
            <div id="carousel0" class="owl-carousel owl-theme">
  
              <div class="multi-row">
                <div class="text-center">
                  <a href="#">
                <img src="assets/image/cache/catalog/brands/menufacture-1-130x100.jpg" alt="NFL" class="img-responsive center-block" />
              </a>
                </div>
  
                <div class="text-center">
                  <a href="#">
                <img src="assets/image/cache/catalog/brands/menufacture-10-130x100.jpg" alt="RedBull" class="img-responsive center-block" />
              </a>
                </div>
  
                <div class="text-center">
                  <a href="#">
                <img src="assets/image/cache/catalog/brands/menufacture-11-130x100.jpg" alt="Sony" class="img-responsive center-block" />
              </a>
                </div>
              </div>
  
              <div class="multi-row">
                <div class="text-center">
                  <a href="#">
                <img src="assets/image/cache/catalog/brands/menufacture-2-130x100.jpg" alt="Burger King" class="img-responsive center-block" />
              </a>
                </div>
  
                <div class="text-center">
                  <a href="#">
                <img src="assets/image/cache/catalog/brands/menufacture-12-130x100.jpg" alt="Coca Cola" class="img-responsive center-block" />
              </a>
                </div>
  
                <div class="text-center">
                  <a href="#">
                <img src="assets/image/cache/catalog/brands/menufacture-3-130x100.jpg" alt="Canon" class="img-responsive center-block" />
              </a>
                </div>
              </div>
  
              <div class="multi-row">
                <div class="text-center">
                  <a href="#">
                <img src="assets/image/cache/catalog/brands/menufacture-4-130x100.jpg" alt="Harley Davidson" class="img-responsive center-block" />
              </a>
                </div>
  
                <div class="text-center">
                  <a href="#">
                <img src="assets/image/cache/catalog/brands/menufacture-5-130x100.jpg" alt="Dell" class="img-responsive center-block" />
              </a>
                </div>
  
                <div class="text-center">
                  <a href="#">
                <img src="assets/image/cache/catalog/brands/menufacture-6-130x100.jpg" alt="Disney" class="img-responsive center-block" />
              </a>
                </div>
              </div>
  
              <div class="multi-row">
                <div class="text-center">
                  <a href="#">
                <img src="assets/image/cache/catalog/brands/menufacture-8-130x100.jpg" alt="Starbucks" class="img-responsive center-block" />
              </a>
                </div>
  
                <div class="text-center">
                  <a href="#">
                <img src="assets/image/cache/catalog/brands/menufacture-9-130x100.jpg" alt="Nintendo" class="img-responsive center-block" />
              </a>
                </div>
              </div>
              </div>
            </div>  
        <!-- End - Sider Bar Brands -->