<div id="common-home" class="container">
  <div class="row">
    <aside id="column-left" class="col-sm-4 col-lg-3 col-md-3 col-xs-12 cwidth">

      <!-- All Categories NavBar & Drop Down -->
      <app-all-categories></app-all-categories>

      <!-- Flash Deals of the Week -->
      <app-flash-deals></app-flash-deals>

      <!-- Other side banners apart from Flash Deals -->
      <app-left-banners></app-left-banners>
    </aside>
    <!-- Main Page -->
    <div id="content" class="col-sm-8 col-lg-9 col-md-9 col-xs-12 crwidth home-top">

      <!-- Home Main Sliders -->
      <app-home-sliders></app-home-sliders>

      <!-- Delivery Info -->
      <app-delivery-info></app-delivery-info>

      <!-- Rest of the body -->
      <app-home-body></app-home-body>
    </div>
  </div>
</div>