
  <div class="hidden-md hidden-lg hidden-sm mobilemenu">
    <div class="horizontal-menu">
      <nav id="menu" class="navbar">

        <div class="navbar-header">
          <button type="button" class="btn btn-navbar navbar-toggle" onclick="openNav()" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
        </div>

        <div id="mySidenav" class="sidenav">
          <div class="close-nav">
            <span class="categories">Category</span>
            <a href="javascript:void(0)" class="closebtn pull-right" onclick="closeNav()"><i class="fa fa-close"></i></a>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">cells &amp; tablets</a></li>
              <li><a href="#">headphone</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle header-menu" data-toggle="dropdown">Desktops<i class="fa fa-angle-down pull-right"></i></a>
                <div class="dropdown-menu">
                  <div class="dropdown-inner">
                    <ul class="list-unstyled">
                      <!--3rd level-->
                      <li class="dropdown-submenu"> <a href="#" class="submenu-title"> PC (0) </a>
                      </li>
                      <!--3rd level over-->
                      <!--3rd level-->
                      <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Mac (1) </a>
                      </li>
                      <!--3rd level over-->
                    </ul>
                  </div>
                </div>
              </li>
              <li class="dropdown"><a href="#" class="dropdown-toggle header-menu" data-toggle="dropdown">Laptops &amp; Notebooks<i class="fa fa-angle-down pull-right"></i></a>
                <div class="dropdown-menu">
                  <div class="dropdown-inner">
                    <ul class="list-unstyled">
                      <!--3rd level-->
                      <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Macs (1) </a>
                      </li>
                      <!--3rd level over-->
                      <!--3rd level-->
                      <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Windows (0) </a>
                      </li>
                      <!--3rd level over-->
                    </ul>
                  </div>
                </div>
              </li>
              <li class="dropdown"><a href="#" class="dropdown-toggle header-menu" data-toggle="dropdown">Components<i class="fa fa-angle-down pull-right"></i></a>
                <div class="dropdown-menu">
                  <div class="dropdown-inner">
                    <ul class="list-unstyled">
                      <!--3rd level-->
                      <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Monitors (2) </a>
                      </li>
                      <!--3rd level over-->
                      <!--3rd level-->
                      <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Printers (2) </a>
                      </li>
                      <!--3rd level over-->
                    </ul>
                    <ul class="list-unstyled">
                      <!--3rd level-->
                      <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Scanners (6) </a>
                      </li>
                      <!--3rd level over-->
                      <!--3rd level-->
                      <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Trackballs (0) </a>
                      </li>
                      <!--3rd level over-->
                    </ul>
                    <ul class="list-unstyled">
                      <!--3rd level-->
                      <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Web Cameras (0) </a>
                      </li>
                      <!--3rd level over-->
                    </ul>
                  </div>
                </div>
              </li>
              <li><a href="#">Tablets</a></li>
              <li><a href="#">Software</a></li>
              <li><a href="#">Phones &amp; PDAs</a></li>
              <li><a href="#">Cameras</a></li>

            </ul>
          </div>
      </div>
      </nav>
    </div>
  </div>