<body>
  <div class="container">
    <div class="wrapper  animated bounceInLeft">

      <div class="side_cover_banner">
        <a href="#">
              <span class="cooper-logo"  style="color: #fff;">
                C<span style="color:#fe8f01;">OO</span>PER<span style="color:#fe8f01;"> S</span>WI<span style="color:#fe8f01">T</span>CH
          </span>
        </a>
      </div>

      <div class="set_password">
        <div id="login_title">Set Password</div>
        <form [formGroup]="changePassForm" (submit)="resetPassword()">
          <div *ngIf="(changePassForm.controls['newPassword'].errors?.required && (changePassForm.controls['newPassword'].touched || changePassForm.controls['newPassword'].dirty))"
            class="invalid animated bounceIn">
            Required.
          </div>
          <div *ngIf="(changePassForm.controls['newPassword'].errors?.minlength)" class="invalid animated bounceIn">
            Minimum Length is 3.
          </div>
          <div *ngIf="(changePassForm.controls['newPassword'].valid)" class="valid animated flash">
            OK.
          </div>
          <!--/End Validation Message -->
          <p>
            <input type="password" formControlName="newPassword" class="new_password" placeholder="Enter New Password" id="newPass">
          </p>
          <!-- Validation Message -->
          <div *ngIf="((changePassForm.controls['conPassword'].touched || changePassForm.controls['conPassword'].dirty))" class="invalid animated bounceIn">
            <div *ngIf="(changePassForm.errors?.invalid)" class="invalid animated bounceIn">
              Passwords should match.
            </div>
          </div>

          <div *ngIf="(changePassForm.controls['conPassword'].valid && !changePassForm.errors?.invalid)" class="valid animated flash">
            OK.
          </div>
          <!--/End Validation Message -->
          <p>
            <input type="password" formControlName="conPassword" class="confirm_password" placeholder="Confirm New Password" id="conPass">
          </p>
          <p class="full">
            <button type="submit" [disabled]="!changePassForm.valid" style="background-image: -moz-linear-gradient( -135deg, rgb(255,144,0) 0%, rgb(255,23,23) 100%) !important;
            background-image: -webkit-linear-gradient( -135deg, rgb(255,144,0) 0%, rgb(255,23,23) 100%) !important;
            background-image: -ms-linear-gradient( -135deg, rgb(255,144,0) 0%, rgb(255,23,23) 100%) !important;">
            Continue</button>
          </p>
        </form>
      </div>

    </div>
  </div>
</body>