<header>
  <div class="htop">
    <div class="container">
      <div class="row headertop">
        <div class="appxsmenu hidden-sm hidden-md hidden-lg hidden-xl col-xs-2 text-left"></div>

        <!-- htop Column One -->
        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 cwidth">
          <div id="logo">
            <a routerLink="/shop/history/transactions">
                <span class="">C<span style="color:rgb(255, 144, 0);">OO</span>PER <span style="color:rgb(255, 144, 0);">S</span>WI<span style="color:rgb(255, 144, 0);">T</span>CH</span>
              </a>
          </div>
        </div>
        <!--/End htop Column One -->

        <!-- htop Column two -->
        <div class="crwidth col-lg-9 col-md-9 col-sm-12">
          <div class="row">

            <!-- Search and Categories -->
            <div class="col-xl-8 col-lg-8 col-md-12 hidden-sm">
              <ul class="fullmenu format_menu hidden-xs ">
                <li><a class="Home_Shop_Deals" routerLink="/shop/history/transactions">Home</a></li>
                <li><a class="Home_Shop_Deals" routerLink="/shop">Shop</a></li>
                <li><a class="Home_Shop_Deals">Deals of the week</a></li>
                <li><a class="Home_Shop_Deals" routerLink="/vendor/account-settings/report-issue">Report an Issue</a></li>
                <li><a class="Home_Shop_Deals">Mobile App</a></li>
              </ul>
            </div>

            <div class="col-xl-4 col-lg-4 col-sm-12 hidden-md ofer text-right">
              <ul class="list-inline acin text-left">

                <li class="Track_bar hide_when_small">
                  <a routerLink="/shop/cooperator-thank-you">
                     <img src="assets/image/catalog/icon/header/Track order icon.png" alt=""> 
                     <span class="hid_desc hide_when_small" style="padding-left: 6px">Your Order</span> 
                  </a>
                </li>
                <li class="hid_desc hide_when_small" style="padding: 0 15px">|</li>
                <li class="Track_bar hide_when_small">
                  <a>
                     <img src="assets/image/catalog/icon/header/Notify icon.png" alt=""><span class="hid_desc" style="padding-left: 6px">Notifications</span>
                  </a>
                </li>
                <li class="hid_desc hide_when_small" style="padding: 0 15px">|</li>
                <li class="Track_bar hidden-xs">
                  <a routerLink="/kyc/login">
                     <img src="assets/image/catalog/icon/header/img.png" alt="" class="img"><span class="hid_desc" style="padding-left: 6px">Ahmed Q.</span> 
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--/End htop Column Two -->
      <div class="appxs hidden-sm hidden-md hidden-lg hidden-xl col-xs-12"></div>

    </div>
  </div>

  <!-- hbottom -->

  <div class="search_form hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 blankd cwidth"></div>
        <div class="col-lg-6 col-md-6 col-sm-8 hidden-xs format_search">

          <div id="search-by-category">
            <div class="search-container">
              <div class="categories-container">
                <div class="hover-cate">
                  <p>
                    <span class="cate-selected" data-value="0">All Categories
                                  </span>
                  </p>
                  <ul class="cate-items">
                    <li class="item-cate" data-value="0">All Categories</li>
                    <li data-value="61" class="item-cate">Clothings</li>
                    <li data-value="59" class="item-cate">headphone</li>
                    <li data-value="20" class="item-cate">Desktops</li>
                    <li data-value="26" class="item-cate f1">PC</li>
                    <li data-value="27" class="item-cate f1">Mac</li>
                    <li data-value="18" class="item-cate">Laptops &amp; Notebooks</li>
                    <li data-value="46" class="item-cate f1">Macs</li>
                    <li data-value="45" class="item-cate f1">Windows</li>
                    <li data-value="25" class="item-cate">Components</li>
                    <li data-value="28" class="item-cate f1">Monitors</li>
                    <li data-value="35" class="item-cate f2">test 1</li>
                    <li data-value="36" class="item-cate f2">test 2</li>
                    <li data-value="30" class="item-cate f1">Printers</li>
                    <li data-value="66" class="item-cate f2">sollicitudin</li>
                    <li data-value="31" class="item-cate f1">Scanners</li>
                    <li data-value="64" class="item-cate f2">dapibus </li>
                    <li data-value="63" class="item-cate f2">maximus </li>
                    <li data-value="29" class="item-cate f1">Trackballs</li>
                    <li data-value="62" class="item-cate f2">camaras</li>
                    <li data-value="32" class="item-cate f1">Web Cameras</li>
                    <li data-value="65" class="item-cate f2">Fusce vulputate </li>
                    <li data-value="57" class="item-cate">Tablets</li>
                    <li data-value="17" class="item-cate">Software</li>
                    <li data-value="24" class="item-cate">Phones &amp; PDAs</li>
                    <li data-value="33" class="item-cate">Cameras</li>
                  </ul>
                </div>
              </div>
              <div class="search-box input-group">
                <input type="text" name="search" id="text-search" value="" placeholder="What are you shopping today?" style="font-size: 12px !important"
                />
                <div id="sp-btn-search" class="input-group-btn">
                  <button type="button" id="btn-search-category" class="btn">Search</button>
                </div>
              </div>
            </div>
            <div class="search-ajax">
              <div class="ajax-loader-container" style="display: none;">
                <img src="assets/image/catalog/loader.gif" class="ajax-load-img" alt="loader" />
              </div>
              <div class="ajax-result-container">
                <!-- Content of search results -->
              </div>
            </div>
            <input type="hidden" id="ajax-search-enable" value="1" />
          </div>

          <!-- <script type="text/javascript">
            $(document).ready(function () {
              var flag = false;
              var ajax_search_enable = $('#ajax-search-enable').val();

              var current_cate_value = $('ul.cate-items li.selected').data('value');
              var current_cate_text = $('ul.cate-items li.selected').html();

              $('.cate-selected').attr('data-value', current_cate_value);
              $('.cate-selected').html(current_cate_text);

              $('.hover-cate p').click(function () {
                $(".cate-items").slideToggle("slow");
                $(".cate-items").addCss('display', 'block');
              });

              $('.ajax-result-container').hover(
                function () {
                  flag = true;
                },
                function () {
                  flag = false;
                }
              );

              $('.hover-cate').hover(
                function () {
                  flag = true;
                },
                function () {
                  flag = false;
                }
              );

              $('#search-by-category').focusout(function () {
                if (flag == true) {
                  $('.ajax-result-container').show();
                } else {
                  $('.ajax-result-container').hide();
                }
              });

              $('#search-by-category').focusin(function () {
                $('.ajax-result-container').show();
              });

              $('#text-search').keypress(function (e) {
                if (e.which == 13) {//Enter key pressed
                  $('#btn-search-category').click();//Trigger search button click event
                }
              });


              $('#btn-search-category').click(function () {
                var url = '';
                var text_search = $('#text-search').val();
                if (text_search) {
                  url += '&search=' + encodeURIComponent(text_search);
                }

                var category_search = $('.cate-selected').attr("data-value");
                if (category_search) {
                  url += '&category_id=' + encodeURIComponent(category_search);
                }

                location = url;
              });

              if (ajax_search_enable == '1') {
                $('#text-search').keyup(function (e) {
                  var text_search = $(this).val();
                  var cate_search = $('.cate-selected').attr("data-value");
                  if (text_search != null && text_search != '') {
                    ajaxSearch(text_search, cate_search);
                  } else {
                    $('.ajax-result-container').html('');
                    $('.ajax-loader-container').hide();
                  }
                });

                $('ul.cate-items li.item-cate').click(function () {
                  var cate_search = $(this).data('value');
                  var text_search = $('#text-search').val();
                  $('.cate-selected').attr('data-value', cate_search);
                  $('.cate-selected').html($(this).html());
                  if (text_search != null && text_search != '') {
                    ajaxSearch(text_search, cate_search);
                  } else {
                    $('.ajax-result-container').html('');
                    $('.ajax-loader-container').hide();
                  }
                  $(".cate-items").hide();
                  $('#text-search').focus();
                });

              }

              function ajaxSearch(text_search, cate_search) {
                $.ajax({
                  url: '',
                  type: 'post',
                  data: { text_search: text_search, cate_search: cate_search },
                  beforeSend: function () {
                    $('.ajax-loader-container').show();
                  },
                  success: function (json) {
                    if (json['success'] == true) {
                      $('.ajax-result-container').html(json['result_html']);
                      $('.ajax-loader-container').hide();
                    }
                  }
                });
              }

            });
          </script> -->

        </div>
        <div class="col-lg-3 col-md-3 hidden-sm text-right cont">
          <ul class="list-inline acin text-left">

            <li class="dropdown list-unstyled wishlist">
              <a routerLink="/shop/shopping-cart" title="Wishlist" class="dropdown-toggle">
                <ul>
                  <li><img src="assets/image/catalog/icon/header/wishlist icon.png" /></li>
                  <li>
                    <h1>36</h1>

                  </li>
                </ul>
              </a>

            </li>
            <li>
              <div id="cart" class="btn-group btn-block text-left">
                <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="dropdown-toggle">
                     <li><img src="assets/image/catalog/icon/header/shopping cart icon.png"/></li>
                     <li class="text-left"><h1>Your Cart Total</h1><h2><span id="cart_items">42</span><span class="hidden-xs hidden-sm" id="cart_total"><strong>N3,215.99</strong> </span></h2></li>
                     </button>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <p class="text-center">Your shopping cart is empty!</p>
                  </li>
                </ul>
              </div>
            </li>

          </ul>

        </div>

      </div>
    </div>
  </div>


</header>