<div class="cooperative-section">
  <div class="cooperative-options">
    <div class="cooperative-name inactive-coop">
      <span class="city">Best Buy Inc, Nigeria</span>
    </div>
    <div class="cooperative-name inactive-coop">
      <span class="city">Best Buy Inc, Nigeria</span>
    </div>
    <div class="cooperative-name active-coop">
      <span class="city">Best Buy Inc, Nigeria</span>
    </div>
    <div class="cooperative-name inactive-coop">
      <span class="city">Best Buy Inc, Nigeria</span>
    </div>
  </div>
</div>