<div>
    <div class="deliveryinfo text-xs-center">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ser-s ses">
          <ul class="list-inline">
            <li>
              <svg width="28px" height="28px">
                <use xlink:href="#support"></use>
              </svg>
            </li>
            <li class="ser-t">
              <h4>24/7 online support</h4>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ses">
          <ul class="list-inline">
            <li>
              <svg width="28px" height="28px">
                <use xlink:href="#money"></use>
              </svg>
            </li>
            <li class="ser-t">
              <h4>money guarantee</h4>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ser-s ses">
          <ul class="list-inline">
            <li>
              <svg width="28px" height="28px">
                <use xlink:href="#ship"></use>
              </svg>
            </li>
            <li class="ser-t">
              <h4>free return</h4>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ses">
          <ul class="list-inline">
            <li>
              <svg width="28px" height="28px">
                <use xlink:href="#saving"></use>
              </svg>
            </li>
            <li class="ser-t">
              <h4>big saving</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>