<div class="hidden-xs">
  <div class="cate-menu ">
    <nav id="menu" class="navbar">
      <div class="navbar-header">
        <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
      </div>
      <div class="allcat"><i class="fa fa-bars" style="padding-right: 20px; font-size: 20px"></i>all Departments</div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav">
          <li class="my-menu">
            <a href="#">
              <div class="thumb_img pull-left">
                <img src="assets/image/catalog/menu/10.png" alt="cells &amp; tablets">
              </div>
              Woman's clothing</a>
          </li>
          <li class="my-menu">
            <a href="#">
              <div class="thumb_img pull-left">
                <img src="assets/image/catalog/menu/7.png" alt="headphone">
              </div>
              Man's Clothing</a>
          </li>
          <li class="my-menu">
            <a href="#">
              <div class="thumb_img pull-left">
                <img src="assets/image/catalog/menu/3.png" alt="Pellentesque euismod">
              </div>
              Cell Phone &amp; Accessories</a>
          </li>
          <li class="dropdown my-menu">
            <a href="#" class="header-menu">
              <div class="thumb_img pull-left">
                <img src="assets/image/catalog/menu/9.png" alt="Desktops">
              </div>
              Computers &amp; Tables<i class="fa fa-angle-down enangle pull-right"></i></a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled">
                  <!--3rd level-->
                  <li class="dropdown-submenu"> <a href="#" class="submenu-title"> PC (0) </a>
                  </li>
                  <!--3rd level over-->
                  <!--3rd level-->
                  <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Mac (1) </a>
                  </li>
                  <!--3rd level over-->
                </ul>
              </div>
            </div>
          </li>
          <li class="dropdown my-menu">
            <a href="#" class="header-menu">
              <div class="thumb_img pull-left">
                <img src="assets/image/catalog/menu/4.png" alt="Laptops &amp; Notebooks">
              </div>
              Consumer Electronics<i class="fa fa-angle-down enangle pull-right"></i></a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled">
                  <!--3rd level-->
                  <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Sony (1) </a>
                  </li>
                  <!--3rd level over-->
                  <!--3rd level-->
                  <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Samsung (12) </a>
                  </li>
                  <!--3rd level over-->
                </ul>
              </div>
            </div>
          </li>
          <li class="dropdown my-menu">
            <a href="#" class="header-menu">
              <div class="thumb_img pull-left">
                <img src="assets/image/catalog/menu/2.png" alt="Components">
              </div>
              Jewelry &amp; Watches<i class="fa fa-angle-down enangle pull-right"></i></a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled">
                  <!--3rd level-->
                  <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Necklace (2) </a>
                    <ul class="list-unstyled grand-child">
                      <li> <a href="#"> test 1 (0) </a> </li>
                      <li> <a href="#"> test 2 (0) </a> </li>
                    </ul>
                  </li>
                  <!--3rd level over-->
                </ul>
                <ul class="list-unstyled">
                  <!--3rd level-->
                  <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Gold Chains (6) </a>
                    <ul class="list-unstyled grand-child">
                      <li> <a href="#"> dapibus  (0) </a> </li>
                      <li> <a href="#"> maximus  (0) </a> </li>
                    </ul>
                  </li>
                  <!--3rd level over-->
                  <!--3rd level-->
                  <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Bracelets (0) </a>
                    <ul class="list-unstyled grand-child">
                      <li> <a href="#"> camaras (0) </a> </li>
                    </ul>
                  </li>
                  <!--3rd level over-->
                </ul>
                <ul class="list-unstyled">
                  <!--3rd level-->
                  <li class="dropdown-submenu"> <a href="#" class="submenu-title"> Web Anklets (0) </a>
                    <ul class="list-unstyled grand-child">
                      <li> <a href="#"> Fusce vulputate  (0) </a> </li>
                    </ul>
                  </li>
                  <!--3rd level over-->
                </ul>
              </div>
            </div>
          </li>

          <li class="my-menu">
            <a href="#">
              <div class="thumb_img pull-left">
                <img src="assets/image/catalog/menu/11.png" alt="Tablets">
              </div>
              Bags &amp; Shoes</a>
          </li>
          <li class="my-menu">
            <a href="#">
              <div class="thumb_img pull-left">
                <img src="assets/image/catalog/menu/5.png" alt="Software">
              </div>
              Sports & Fitness</a>
          </li>
          <li class="my-menu">
            <a href="#">
              <div class="thumb_img pull-left">
                <img src="assets/image/catalog/menu/12.png" alt="Phones &amp; PDAs">
              </div>
              Health, Beauty &amp; Hair</a>
          </li>
          <li class="my-menu">
            <a href="#">
              <div class="thumb_img pull-left">
                <img src="assets/image/catalog/menu/13.png" alt="Cameras">
              </div>
              Automobiles &amp; Motorcycles</a>
          </li>
          <li class="dropdown my-menu">
            <a href="#" class="header-menu">
              <div class="thumb_img pull-left">
                <img src="assets/image/catalog/menu/14.png" alt="MP3 Players">
              </div>
              Home &amp; Kitchen<i class="fa fa-angle-down enangle pull-right"></i></a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <ul class="list-unstyled">
                  <!--3rd level-->
                  <li class="dropdown-submenu"> <a href="#" class="submenu-title"> test 11 (0) </a>
                  </li>
                  <!--3rd level over-->
                  <!--3rd level-->
                  <li class="dropdown-submenu"> <a href="#" class="submenu-title"> test 12 (0) </a>
                  </li>
                  <!--3rd level over-->
                  <!--3rd level-->
                  <li class="dropdown-submenu"> <a href="#" class="submenu-title"> test 15 (0) </a>
                  </li>
                  <!--3rd level over-->
                  <!--3rd level-->
                  <li class="dropdown-submenu"> <a href="#" class="submenu-title"> test 16 (0) </a>
                  </li>
                  <!--3rd level over-->
                  <!--3rd level-->
                  <li class="dropdown-submenu"> <a href="#" class="submenu-title"> test 17 (0) </a>
                  </li>
                  <!--3rd level over-->
                </ul>

              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>