<div class="row slideborder">
    <div class="col-lg-12 col-md-12 slb">
        <div id="slideshow0" class="owl-carousel owl-theme">
            <div class="text-center"><a href="#"><img src="../../../../assets/image/cache/catalog/slider/Slider-1.jpg" alt="MacBookAir" class="img-responsive" /></a></div>
            <div class="text-center"><a href="#"><img src="../../../../assets/image/cache/catalog/slider/Slider-2.jpg" alt="iPhone 6" class="img-responsive" /></a></div>
        </div>
    </div>
</div>