<footer>
                <div class="container">
                  <div class="row">
                    <div class="newsletter col-xs-12">
                      <div class="webi-newsletter  webi-newsletter row" id="newsletter_5b3f6107f0a24" data-mode="default">
                        <form id="formNewLestter" method="post" action="#"
                          class="formNewLestter">
                          <div class="inner">
                            <!-- <h3 >Newsletter</h3> -->
                            <div class="description-top col-lg-6 col-md-6 col-sm-6  col-xs-12 bestlc hidden-xs">
                              <p>
                                <ul class="list-inline">
                                  <li class="d-inline-block float-xs-left send-btn hidden-md-down">
                                    <svg width="35px" height="35px">
                                      <use xlink:href="#send"></use>
                                    </svg>
                                  </li>
                                  <li class="d-inline-block">
                                    <h2>sign up for newsletter</h2>
                                    <h3 class="hidden-md-down">...and receive $20 coupon for first shipping</h3>
                                  </li>
        
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 bestrc">
                              <div class="form-group">
                                <input type="text" class="form-control input-md inputNew" onblur="javascript:if(this.value=='')this.value='Your email address';"
                                  onfocus="javascript:if(this.value=='Your email address')this.value='';" value="Your email address"
                                  size="18" name="email">
                              </div>
                              <div class="button-submit">
                                <button type="submit" name="submitNewsletter" class="btn btn-danger">Subscribe</button>
                              </div>
                              <input type="hidden" value="1" name="action">
                              <div class="valid"></div>
                              <div class="description-bottom">
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
        
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row middle-footer">
        
                    <aside id="column-left1" class="col-sm-12 col-md-3 col-xs-12">
                      <div>
                        <div class="footleft">
                          <h5>about us</h5>
                          <p>Maecenas non egestas tellus. Praesent egestas elit a eros molestie bibendum. Etiam aliquam ipsum at luctus
                            pretium. Duis mauris nisl.</p>
                          <br>
                          <h5 class="hidden-xs">follow us</h5>
                          <ul class="list-inline list-unstyled">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </aside>
        
        
                    <div class="col-sm-12 col-md-9 col-xs-12">
                      <div class="row">
                        <div class="col-sm-3 col-xs-12 fborder">
                          <h5>Download Our App
                            <button type="button" class="btn toggle collapsed" data-toggle="collapse" data-target="#info"></button>
                          </h5>
                          <div id="info" class="collapse footer-collapse">
                            <!-- <div class="list-unstyled">
                              <img src="assets/image/catalog/icon/footer/google-play-badge" alt="" style="width: 20px !important">
                            </div> -->
                            <ul class="list-unstyled">
                              <li><a href="#"><img src="assets/image/catalog/icon/footer/google-play-badge.png" alt="" style="padding-bottom: 20px"></a>
                              </li>
                              <li><a href="#"><img src="assets/image/catalog/icon/footer/Download_on_the_App_Store_Badge_US-UK_blk_092917.png" alt=""></a>
                              </li>
        
                            </ul>
                          </div>
                        </div>
                        <div class="col-sm-3 col-xs-12 fborder">
                          <h5>First It First
                            <button type="button" class="btn toggle collapsed" data-toggle="collapse" data-target="#account"></button>
                          </h5>
                          <div id="account" class="collapse footer-collapse">
                            <ul class="list-unstyled lastb">
                              <li><a href="#">Laptops &amp; Computers</a></li>
                              <li><a href="#">Cameras &amp; Photography</a></li>
                              <li><a href="#">Smart Phines &amp; Tablets</a></li>
                              <li><a href="#">Video Games &amp; Console</a></li>
                              <li><a href="#">TV &amp; Audio</a></li>
                              <li><a href="#">Gadgets</a></li>
                              <li><a href="#">Car Electonics &amp; GPS</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-sm-3 col-xs-12 fborder">
                          <h5>My CooperSwitch
                            <button type="button" class="btn  toggle collapsed" data-toggle="collapse" data-target="#service"></button>
                          </h5>
                          <div id="service" class="collapse footer-collapse">
                            <ul class="list-unstyled lastb">
                              <li><a routerLink="/kyc/login">My Account</a></li>
                              <li><a href="#">Track Order</a></li>
                              <li><a href="#">Wishlist</a></li>
                              <li><a href="#">Customer Service</a></li>
                              <li><a href="#">Returns/Exchange</a></li>
                              <li><a href="#">FAQs</a></li>
                              <li><a href="#">Product Support</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-sm-3 col-xs-12 fborder">
                          <aside id="column-right">
                            <div>
                              <h5><span>Contact us</span>
                                <button type="button" class="btn toggle collapsed" data-toggle="collapse" data-target="#contact"></button>
                              </h5>
                              <div id="contact" class="collapse footer-collapse footcontact">
                                <ul class="list-unstyled f-left">
                                  <li><i class="fa fa-map-marker"></i>Fashion Store</li>
                                  <li><i class="fa fa-envelope"></i>demo@demo.com</li>
                                  <li><i class="fa fa-phone"></i>123456789</li>
                                </ul>
                                <ul class="list-inline list-unstyled foot-payment">
                                  <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                                  <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                                  <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                                  <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                                </ul>
                              </div>
                            </div>
                            <script type="text/javascript">
                              $(document).ready(function () {
                                $("#testi").owlCarousel({
                                  itemsCustom: [
                                    [0, 1],
                                    [600, 1],
                                    [768, 1]
                                  ],
                                  // autoPlay: 1000,
                                  navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                                  navigation: false,
                                  pagination: true
                                });
                              });
                            </script>
                          </aside>
                        </div>
                      </div>
                    </div>
        
                  </div>
                </div>
                <div class="copy text-center">
                  Copywright &copy; 2018, CooperSwitch | Alrights Reserved
                </div>
        
        
                <!-- <div class="text-right">
                  <span>Terms &amp; Conditions</span>
                  <span> | </span>
                  <span>Privacy Policy</span>
                  <span> | </span>
                  <span>Refund Policy</span>
                </div> -->
              </footer>
              
        