<div id="content" class="container">
  <ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><i class="fa fa-angle-right boxed-icon"></i><a href="#" class="breadcrumb-pill">Computers &amp; Tablets</a></li>
    <span class="hidden-md hidden-sm hidden-xs">
      <li><i class="fa fa-angle-right boxed-icon"></i><a href="#" class="breadcrumb-pill">Laptops</a></li>
      <li><i class="fa fa-angle-right boxed-icon"></i><a href="#" class="breadcrumb-pill">Apple</a></li>
      <li><i class="fa fa-angle-right boxed-icon"></i><a href="#" class="breadcrumb-pill">Thank You</a></li>
    </span>
  </ul>

  <div class="twrapper top-padding">
    <div class="delivery-icon top-padding">
      <img src="./../../../assets/image/cache/catalog/storefront/delivery.png" alt="">
    </div>
    <div class="delivery-notice top-padding">
      <span class="greeting">Hi, Ahmed</span>
      <span class="notify">Your Order is on it's way</span>
    </div>
    <div class="little-message top-padding">
      <span class="reduce-text">Thank you for placing your order with <a href="#"><span style="color:#febd69">CooperSwitch</span></a>.
      We will send you a notification via Email once your payment has been verified by our system</span>
    </div>
    <div class="call-to-action top-padding">
      <div class="track_order">Track Order</div>
      <div class="back_to_shop">Back to Shop</div>
    </div>
  </div>
</div>